.button {
  padding: 20px 30px;
  height: 58px;
  border-radius: 90px;
  display: inline-block;
  color: var(--white-color);
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  background-color: var(--accent-color);
}