.metrics {
  background: url('../img/franchise/metric/bg.png') no-repeat center;
  background-position: center;
  background-size: cover;
  border-radius: 100px;

  @include breakpoint-1000 {
    border-radius: 70px;
  }

  @include breakpoint-700 {
    border-radius: 50px;
  }
}

.metrics__attachments {
  padding: 90px 0;

  @include breakpoint-700 {
    padding: 75px 0;
  }

  @include breakpoint-500 {
    padding: 60px 0;
  }

  &-container {
    position: relative;
  }

  &-wheel {
    position: absolute;
    top: -80px;
    right: 0;
    animation: spin 10s linear infinite;

    @include breakpoint-1100 {
      width: 200px;
    }

    @include breakpoint-800 {
      display: none;
    }
  }

  &-top {
    @include flex-column;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;

    @include breakpoint-800 {
      margin-bottom: 20px;
    }
  }

  &-title, &-description {
    color: var(--white-color);
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include breakpoint-1100 {
      gap: 15px;
    }

    @include breakpoint-1000 {
      grid-template-columns: repeat(2, 1fr)
    }
  }

  &-card {
    @include flex-column;
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(112, 112, 112, 0.2);

    @include breakpoint-500 {
      padding: 20px;
    }

    &-title {
      color: var( --accent-color);
    }

    &-description {
      color: var(--white-color);
    }
  }
}