.consultation {
  padding-bottom: 90px;

  @include breakpoint-900 {
    background: url('../img/franchise/consultation/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin-bottom: 90px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 250px;
      right: 0;
      z-index: 2;
      background: url('../img/franchise/consultation/text-bg.png') no-repeat;
      background-size: contain;
      width: 900px;
      height: 900px;
      display: block;
      animation: textSpin 35s linear infinite;

      @include breakpoint-700 {
        right: -100px;
      }

      @include breakpoint-500 {
        top: 130px;
        right: -180px;
      }

  @keyframes textSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
    }
  }

  @include breakpoint-700 {
    margin-bottom: 75px;
  }

  @include breakpoint-500 {
    margin-bottom: 60px;
  }

  &__card {
    position: relative;
    border-radius: 40px;
    background: url('../img/franchise/consultation/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    @include breakpoint-900 {
      overflow: hidden;
      @include flex-column;
      align-items: center;
      background: none;
    }

    &-inner {
      position: relative;
      border-radius: 40px;
      z-index: 2;
      overflow: hidden;
      padding: 75px 0 73px 80px;

      @include breakpoint-1000 {
        padding: 75px 0 73px 50px;
      }

      @include breakpoint-900 {
        text-align: center;
        padding: 50px 0 79px;
      }

      @include breakpoint-900 {
        @include flex-column;
        align-items: center;
        overflow: visible;
      }
      

      &::before {
        content: '';
        position: absolute;
        top: -150px;
        right: -30px;
        z-index: 2;
        background: url('../img/franchise/consultation/text-bg.png') no-repeat;
        background-size: contain;
        width: 800px;
        height: 813px;
        display: block;
        animation: textSpin 35s linear infinite;

        @include breakpoint-1200 {
          width: 700px;
          right: -70px;
        }

        @include breakpoint-1000 {
          width: 600px;
          height: 600px;
          top: -100px;
          right: -50px;
        }

        @include breakpoint-900 {
          display: none;
        }

    @keyframes textSpin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
      }
    }

    &-human {
      position: absolute;
      z-index: 3;
      top: -30px;
      right: 30px;

      @include breakpoint-1200 {
        right: -50px;
      }

      @include breakpoint-1100 {
        top: -10px;
      }

      @include breakpoint-1000 {
        width: 530px;
        top: 13px;
      }

      @include breakpoint-900 {
        position: relative;
        inset: 0;
        width: 600px;
      }

      @include breakpoint-500 {
        width: 460px;
      }
    }
    

    &-info {
      position: relative;
      z-index: 4;
      max-width: 485px;
    }

    &-title {
      margin-bottom: 10px;
      color: var(--white-color);
    }

    &-description {
      margin-bottom: 46px;
      color: var(--white-color);

      @include breakpoint-1100 {
        max-width: 400px;
      }

      @include breakpoint-900 {
        max-width: inherit;
        margin-bottom: 30px;
      }
    }

    &-button {
      @include breakpoint-600 {
        width: 100%;
      }
    }

    &-eclipse {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;

      @include breakpoint-900 {
        display: none;
      }
      
      &-2 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        @include breakpoint-1200 {
          display: none;
        }
      }
    }
  }
}