.promotion {
 padding: 90px 0;

  &__container {
    position: relative;
  }

  &__chandelier {
    position: absolute;
    top: 140px;
    left: -240px;
    transform: translateX(50%);
    z-index: 1;
    animation: chandelier-swing 3s ease-in-out infinite;
    transform-origin: top center; 

    @keyframes chandelier-swing {
      0% {
        transform: translateX(50%) rotate(-2deg);
      }
      50% {
        transform: translateX(50%) rotate(-8deg);
      }
      100% {
        transform: translateX(50%) rotate(-2deg);
      }
    }
  }
 

  &__title {
    text-align: center;

    &-1 {
      margin-bottom: 30px;
    }

    &-2 {
      margin-bottom: 12px;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }

  &__card {
    display: flex;
    align-items: start;
    gap: 12px;
    border-radius: 25px;
    padding: 25px;
    background-position: center;
    background-size: cover;

    &-icon {
      padding: 9px;
      border-radius: 10px;
      background-color: var(--accent-color);
    }

    &-1 {
      background: url('../img/franchise/promotion/1.png') no-repeat;
    }

    &-2 {
      background: url('../img/franchise/promotion/2.png') no-repeat;
    }

    &-3 {
      background: url('../img/franchise/promotion/3.png') no-repeat;
    }

    &-4 {
      background: url('../img/franchise/promotion/4.png') no-repeat;
    }

    &-description {
      color: var(--gray-light-color);
    }
  }

  &__wrap {
    @include flex-column;
    align-items: center;
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
  }

  &__description {
    margin-bottom: 36px;
  }
}