// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas/BebasNeueBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas/BebasNeueRegular.woff') format('woff');
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'Bebas Neue Book';
//   src: url('../fonts/BebasNeueBook.woff2') format('woff2'),
//       url('../fonts/BebasNeueBook.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('../BebasNeueBold.woff2') format('woff2'),
//       url('../BebasNeueBold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
//       url('../fonts/BebasNeueRegular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('../fonts/BebasNeue-Light.woff2') format('woff2'),
//       url('../fonts/BebasNeue-Light.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Bebas Neue Book';
//   src: url('../fonts/BebasNeueBook.woff2') format('woff2'),
//       url('../fonts/BebasNeueBook.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('BebasNeue-Thin.woff2') format('woff2'),
//       url('BebasNeue-Thin.woff') format('woff');
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// }

