:root {
  --accent-color: #BA7A37;
  --accent-color--light: #E4CB84;
  --white-color: #FFFFFF;
  --gray-color: #70707033;
  --gray-light-color: #D0D9CF;

  --transition: .3s ease-in-out;
  --accordion-transtion: 0.5s ease-in-out;
}
